In [1]:
print("Welcome to Assignment-1")

Welcome to Assignment-1

In [2]:
Num1=10
Num2=30
Add=40

In [3]:
print("Num1= ",Num1)
print("Num2= ",Num2)
print("Add= ",Add)

Num1=  10
Num2=  30
Add=  40

#Body Mass Index
BMI Categories:
Underweight = <18.5
Normal weight = 18.5–24.9
Overweight = 25–29.9
Obesity = BMI of 30 or greater

In [4]:
BMI = int(input("Enter the BMI index = "))
if (BMI<18.5):
    print("Underweight")
elif (BMI<24.9):
    print("Normal Weight")
elif (BMI<29.9):
    print("Overweight")
else:
    print("Very Overweight")

Enter the BMI index = 34
Very Overweight

# Extra assignment

In [5]:
#print statement
print("HOPE AI")

HOPE AI

In [6]:
#buy input
name =input("Enter your institue name?:")

Enter your institue name?:HOPE AI

In [7]:
bio1 =input("Enter your name: ")
bio2 =input("Enter your age: ")
bio3 =input("Enter your school name: ")
bio4 =input("Enter your drgree: ")

Enter your name: Raj
Enter your age: 15
Enter your school name: Guru school
Enter your drgree: B.E CSE

In [8]:
#addition
a=43
b=34
add=a+b
print("a= ",a)
print("b= ",b)
print("add= ",add)

a=  43
b=  34
add=  77

In [9]:
#subtraction
a=43
b=34
sub=a-b
print("a= ",a)
print("b= ",b)
print("sub= ",sub)

a=  43
b=  34
sub=  9

In [10]:
#Multiplication
a=63
b=97
Mul=a*b
print("a= ",a)
print("b= ",b)
print("Mul= ",Mul)

a=  63
b=  97
Mul=  6111

In [11]:
#Division = / returns only the quotient
a=76
b=31
Div=a/b
print("a= ",a)
print("b= ",b)
print("Float Div= ",Div)

a=  76
b=  31
Float Div=  2.4516129032258065

In [12]:
#Floor Division = //  returns the quotient as a floating-point number
a=76
b=31
Div=a//b
print("a= ",a)
print("b= ",b)
print("Floor Div= ",Div)

a=  76
b=  31
Floor Div=  2

In [13]:
#Modulo= % yields the remainder when the first operand is divided by the second
a=76
b=31
Mod=a%b
print("a= ",a)
print("b= ",b)
print("Modulo= ",Mod)

a=  76
b=  31
Modulo=  14

In [14]:
#Power=  ** (Exponentiatio)allows you to calculate the power of a number
a=4
b=4
Power=a**b
print("a= ",a)
print("b= ",b)
print("Power= ",Power)

a=  4
b=  4
Power=  256

In [15]:
#print 0 to 20 by using range
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [20]:
#print range 10 to 20
for num in range (10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [16]:
for num in range(10,20):
    print(num, end=" ")
print()

10 11 12 13 14 15 16 17 18 19

In [17]:
#print number of items in the list by using 'len'
list2 =[10,20,14,55,43,87,76]
print("[10,20,14,55,43,87,76]")
print("Number of items in the list2: ")
x=len(list2)
print(x)

[10,20,14,55,43,87,76]
Number of items in the list2:
7

In [18]:
#to print horizantal and vertical line
job='Artificial Intelligence'
print(job)
for k in job:
    print(k)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [19]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [20]:
#print mixered data types using tuples
tuple=("1","Welcome","2","Hope")
print(tuple)

('1', 'Welcome', '2', 'Hope')

In [21]:
# Code for creating nested tuples
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'HOPE')
 
tuple3 = (tuple1, tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [22]:
#print odd numbers in the list
list1=[20,10,16,19,25,1,276,188]
print(list1)
for num in list1:
     if num % 2 != 0:
       print(num, "is odd")

[20, 10, 16, 19, 25, 1, 276, 188]
19 is odd
25 is odd
1 is odd

In [23]:
#print even numbers in the list
list1=[20,10,16,19,25,1,276,188]
print(list1)
for num in list1:
     if num % 2 != 1:
       print(num, "is Even")

[20, 10, 16, 19, 25, 1, 276, 188]
20 is Even
10 is Even
16 is Even
276 is Even
188 is Even

In [24]:
num=[1,2,3,4,5]
for i in num:
    if i*2==10:
        print(f"Value: {10}\nCorrect")

Value: 10
Correct

In [25]:
pwd=input("Enter the passoword: ")
if pwd=="HOPE@123":
    print("Your password is correct")
else:
    print("Your password is incorrect")

Enter the passoword: HOPE@123
Your password is correct

In [26]:
#category the people by their age
Lists=[9,18,27,36,45,54,63,72,81,90]
for age in Lists:
    if (age<18):
        print("Children")
    elif (age<30):
        print ("Adult")
    elif (age<60):
        print ("Citizen")
    else:
        print ("Senior Citizen")

Children
Adult
Adult
Citizen
Citizen
Citizen
Senior Citizen
Senior Citizen
Senior Citizen
Senior Citizen

In [27]:
Lists1=[9,18,27,36,45,54,63,72,81,90]
for age in Lists1:
    if age == 20:
        print(f"Age: {age}\nAdult")

In [28]:
Lists=[9,18,20,27,36,45,54,63,72,81,90]
for age in Lists:
    if (age<18):
        print("Children")
    elif (age<30):
        print ("Adult")
    elif (age<60):
        print ("Citizen")
    else:
        print ("Senior Citizen")
for age in Lists:
    if age==20:
         print(f"Age: {age}\nAdult")

Children
Adult
Adult
Adult
Citizen
Citizen
Citizen
Senior Citizen
Senior Citizen
Senior Citizen
Senior Citizen
Age: 20
Adult

In [29]:
# find whether given num is positive or negative
num=int(input("Enter any number: "))
if num>0:
    print("No is positive")
else:
    print("No is negative")

Enter any number: 1
No is positive

In [30]:
# find whether num divisible by 5
num=int(input("Enter a number to check: "))
if num/5==0:
    print("No is divisible by 5")
else:
    print("No is not divisible by 5")

Enter a number to check: 22
No is not divisible by 5